/* -------------1 header---------------*/
header {
border: 1px solid white;
height: 30px;
position: relative;
top: 0px;
}
a {
  text-decoration: none;
  color: black;
}
.topright {
  position: absolute;
  display: inline;
  right: 0px;
  padding: 0px;
}

/* -------------2 aside---------------*/

#container {
  border: 1px solid white;
  height: 990px;
  position: relative;
}
.bowie, .francais {
 display: flex;
 width: 100%;
}
.bowie {
height: 80px;
width: 0px;
margin: 150px 250px 550px 550px;
padding: 0px 20px 20px 20px;
font-family: Helvetica, sans-serif;          /*Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
font-weight: bold;
 }
.francais {
  height: 30px;
  float:right;
  margin-top: 80px;
  margin-left: -75px;
  color: rgba(0, 63, 255, 0.65);
}
.element {
  width: 200px;
  height:300px;
  color: rgba(251, 49, 49, 0.9);
  font-size: 80px;
}
.element:nth-child(1) { color: rgba(0, 63, 255, 0.65);}
.element:nth-child(2) { color: rgba(251, 49, 49, 0.9); }
.element:nth-child(3) { color: rgba(245, 174, 0, 0.9); }
.element:nth-child(4) { color: rgba(0, 63, 255, 0.65); }
.element:nth-child(5) { color: green; }


.h2 {
  font-size: 10px;
}
form {
  position: absolute;
  margin: auto;
  margin: 300px 350px 500px 350px;
}


/* -------------3 footer---------------*/
footer {
  border: 1px solid white;
  height: 30px;
  position: relative;
  bottom: 0px;
  background: #f2f2f2;
}
a {
  text-decoration: none;
  color: black;
}
.left, .right {
  position: absolute;
  display: inline;
}
.left {
  left: 0px;
  padding: 5px;
}
.right {
  right: 0px;
  padding: 5px;
}
